@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
  background: linear-gradient(to right, #55B0F0, #FFF, #8FAFF1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titulo2 {
  background: linear-gradient(276deg, #8FAFF1 42.37%, #1777BA 119.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

  html {
    scroll-behavior: smooth;
  }